<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:uap5="http://schemas.microsoft.com/appx/manifest/uap/windows10/5"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  IgnorableNamespaces="uap rescap mp">

	<Identity
	  Name="41589LucasOliveiraVilas-B.LupassManager"
	  Publisher="CN=9EDB1010-EDD8-4281-938F-4506C6C9E055"
	  Version="1.0.14.0" />

	<Properties>
		<DisplayName>Lupass</DisplayName>
		<PublisherDisplayName>Lucas Oliveira Vilas-Bôas</PublisherDisplayName>
		<Logo>Assets\StoreLogo.png</Logo>
	</Properties>

	<Dependencies>
		<TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.17763.0" MaxVersionTested="10.0.19041.0" />
		<TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.17763.0" MaxVersionTested="10.0.19041.0" />
	</Dependencies>

	<Resources>
		<Resource Language="x-generate"/>
	</Resources>

	<Applications>
		<Application Id="App"
		  Executable="$targetnametoken$.exe"
		  EntryPoint="$targetentrypoint$">
			<uap:VisualElements
			  DisplayName="Lupass"
			  Description="Lupass is a software designed for offline password management and password generation. The software is developed using Windows App SDK, C++/WinRT and WinUI 3. The application offers users a secure and convenient way to store their passwords and sensitive information locally on their device, without the need for an internet connection. In addition, Lupass Manager provides a password generator tool, allowing users to create strong and unique passwords that are difficult to guess or crack. With Lupass Manager, users can easily manage their passwords and keep their sensitive information safe and secure."
			  BackgroundColor="transparent"
			  Square150x150Logo="Assets\Square150x150Logo.png"
			  Square44x44Logo="Assets\Square44x44Logo.png">
				<uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png"  Square71x71Logo="Assets\SmallTile.png" Square310x310Logo="Assets\LargeTile.png"/>
				<uap:SplashScreen Image="Assets\SplashScreen.png" />
				<uap:InitialRotationPreference>
					<uap:Rotation Preference="landscape"/>
				</uap:InitialRotationPreference>
				<uap:LockScreen Notification="badgeAndTileText" BadgeLogo="Assets\BadgeLogo.png"/>
			</uap:VisualElements>

			<Extensions>
				<uap5:Extension
						Category="windows.startupTask"
						Executable="MainApplication.exe"
						EntryPoint="Windows.FullTrustApplication">
					<uap5:StartupTask
					  TaskId="LUCOISO_LUPASS_PASSWORD_MANAGER_STARTUPTASK"
					  Enabled="true"
					  DisplayName="Lupass" />
				</uap5:Extension>
			</Extensions>
		</Application>
	</Applications>

	<Capabilities>
		<rescap:Capability Name="runFullTrust" />
	</Capabilities>
</Package>
